.main {
    min-height: 100vh;
    width: 100vw;
}

header {
    width: 100%;
    height: 70px;
    background-color: #DAE9EB;
}

.conteudo {
    width: 100%;
    min-height: calc(100vh - 250px);
}

footer {
    width: 100%;
    height: 180px;
    padding: 20px;
    background-color: #DAE9EB;
    color: #3B3936;
}

.txcolor{
    color: #3B3936;
}

.bgred{
    background-color: #BD2A2E;
}

/* #BD2A2E;
#3B3936;
#DAE9EB;
#889C9B;
#486966; */