.main {
    background-color: #eeeeee;
    min-height: 100vh;
}

header {
    display: flex;
    background-color: #034C8C;
}

.conteudo {
    background-color: white;
    border-radius: 20px;
    padding-bottom: 30px;
}
.form-box{
    min-height: calc(100vh - 72px);
}

footer {
    padding: 20px;
    background-color: #034C8C;
    color: #ffffff;
}

.txcolor{
    color: #F2B705;
}

.bgred{
    background-color: #cacaca;
}
.bgver1{
    background-color: #034C8C;
}

::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: #F2B705;
    border-radius: 10px;
}
::-webkit-scrollbar-track{
    background-color: #eeeeee;
}
.login {
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    width: 400px;
}
.contato {
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    width: 1300px;
}
.promo{
    list-style: none;
    display: flex;
    overflow-x: scroll;
    justify-content: flex-start;
}

a{
    text-decoration: none;
    color: black;
}